@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply transition-colors duration-300 bg-neutral-100 dark:bg-neutral-900 text-neutral-900 dark:text-neutral-100;
}

@font-face {
  font-family: "ComicReliefRegular";
  src: url("./assets/fonts/ComicRelief.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SpecialGothic";
  src: url("./assets/fonts/SpecialGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  *::selection {
    @apply text-white bg-green-600;
  }
  .font-ComicReliefRegular {
    font-family: "ComicReliefRegular", sans-serif;
  }
  .font-SpecialGothic {
    font-family: "SpecialGothic", sans-serif;
  }
  .font-Montserrat {
    font-family: "Montserrat", sans-serif;
  }
  .font-Raleway {
    font-family: "Raleway", sans-serif;
  }
}
